<?php
// module/Sakila/view/sakila/film/delete.phtml:

$title = 'Delete film';
$url   = $this->url('film', ['action' => 'delete', 'id' => $id]);

$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>

<p>
    Are you sure that you want to delete
    "<?= $this->escapeHtml($film->title) ?>" by
    "<?= $this->escapeHtml($film->description) ?>"?
</p>

<form action="<?= $url ?>" method="post">
<div class="form-group">
    <input type="hidden" name="film_id" value="<?= (int) $film->film_id ?>" />
    <input type="submit" class="btn btn-danger" name="del" value="Yes" />
    <input type="submit" class="btn btn-success" name="del" value="No" />
</div>
</form>