


<?php
// module/Sakila/view/sakila/film/edit.phtml:

$title = 'Edit film';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$film = $form->get('title');
$film->setAttribute('class', 'form-control');
$film->setAttribute('placeholder', 'Film title');

$description = $form->get('description');
$description->setAttribute('class', 'form-control');
$description->setAttribute('placeholder', 'Description');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('film', [
    'action' => 'edit',
    'id'     => $id,
]));
$form->prepare();

echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($film) ?>
    <?= $this->formElement($film) ?>
    <?= $this->formElementErrors()->render($film, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($description) ?>
    <?= $this->formElement($description) ?>
    <?= $this->formElementErrors()->render($description, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('film_id'));
echo $this->formHidden($form->get('language_id'));
echo $this->form()->closeTag();