<?php
use Laminas\Paginator\Paginator;
// module/Sakila/view/sakila/film/index.phtml:

$title = 'My films';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('film', ['action' => 'add']) ?>">Add new film</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Release Year</th>
    <th>Language</th>
    <th>Length</th>
    <th>Last Update</th>
    <th>&nbsp;</th>
</tr>

<?php foreach ($this->paginator as $film) :  ?>
    <tr>
        <td><?= $this->escapeHtml($film->title) ?></td>
        <td><?= $this->escapeHtml($film->description) ?></td>
        <td><?= $this->escapeHtml($film->release_year) ?></td>
        <td><?= $this->escapeHtml($film->language_id) ?></td>
        <td><?= $this->escapeHtml($film->length) ?></td>
        <td><?= $this->escapeHtml($film->last_update) ?></td>
        <td>
            <a href="<?= $this->url('film', ['action' => 'edit', 'id' => $film->film_id]) ?>">Edit</a>
            <a href="<?= $this->url('film', ['action' => 'delete', 'id' => $film->film_id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>

<?php if ($this->paginator instanceof Paginator && count($this->paginator)): ?>

<?= $this->paginationControl(
    // The paginator object:
    $this->paginator,
    // The scrolling style:
    'sliding',
    // The partial to use to render the control:
    'partial/paginator',
    // The route to link to when a user clicks a control link:
    ['route' => 'film']
) ?>

<?php endif; ?>